<footer class="footer">
  <div class="footer-inner">

    <nav class="footer-nav">
      <a href="{{ pathPrefix }}services">Services</a>
      <a href="{{ pathPrefix }}work">Work</a>
      <!--<a href="{{ pathPrefix }}curriculum-vitae">CV</a>-->
      <a href="{{ pathPrefix }}about">About</a>
      <a href="{{ pathPrefix }}contact">Contact</a>
    </nav>

    <div class="footer-social">
      <a class="linkedin" href="https://www.linkedin.com/in/angelomeniconi/" target="_blank" rel="noopener">
        LinkedIn
      </a>
        <a class="fiverr" href="https://www.fiverr.com/s/38WV4vB" target="_blank" rel="noopener">
        Fiverr
      </a>
    </div>
  </div>

  <p class="footer-small">© Angelo Meniconi</p>
</footer>
