<footer class="footer">
  <div class="footer-inner">

    <nav class="footer-nav">
      <a href="/services/">Services</a>
      <a href="/work/">Work</a>
      <!--<a href="/curriculum-vitae/">CV</a>-->
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
    </nav>

    <div class="footer-social">
      <a class="linkedin" href="https://www.linkedin.com/in/angelomeniconi/" target="_blank" rel="noopener">
        LinkedIn
      </a>
        <a class="fiverr" href="https://www.fiverr.com/s/38WV4vB" target="_blank" rel="noopener">
        Fiverr
      </a>
    </div>
  </div>

  <p class="footer-small">© Angelo Meniconi</p>
</footer>
