<header class="site-header">
  <div class="header-inner">
    <a href="/" class="logo">
      Angelo Meniconi
    </a>

    <button class="nav-toggle" aria-label="Toggle navigation">
      ☰
    </button>

    <nav class="nav">
      <a href="{{ pathPrefix }}services">Services</a>
      <a href="{{ pathPrefix }}work">Work</a>
      <!--<a href="{{ pathPrefix }}curriculum-vitae">CV</a>-->
      <a href="{{ pathPrefix }}about">About</a>
      <a class="cta secondary" href="{{ pathPrefix }}contact">Contact</a>
    </nav>
  </div>
</header>
